<div class="about sidebar">
  <span class="about-image">
    <img src="/images/shidhincr.jpg" alt="shidhincr">
  </span>
  <span class="about-desc">
    <span>Hey, I'm Shidhin C R <br/> I'm a UI / Front end developer ( currently in Dubai, UAE ). I use this space to share my experiences, experiments and thoughts. See more about me in <a href="https://www.linkedin.com/in/shidhincr" target="_blank">LinkedIn profile.</a></span>
    <br/>
    <hr>
    <a href="https://twitter.com/shidhincr" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @shidhincr</a>
    <hr>
    <div class="g-follow" data-href="https://plus.google.com/u/0/113512069167494308499" data-rel="author" data-height="24"></div>
    <hr> 
  </span>
</div> 