---
layout: layouts/home.njk
tags:
  - nav
navtitle: Archive
position: 2
permalink: /archive/
---

<h1>Archive</h1>

{% set postslist = collections.posts | groupByYear %}
{% set postslistYears = postslist | keys | reverse %}

{% include "postslist.njk" %}
