<p style="color: #02A702">
If you particularly enjoyed my articles, consider donating an amount for the hosting of this website.</p>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="text-align: center; padding-bottom: 50px">
<input type="hidden" name="cmd" value="_donations">
<input type="hidden" name="business" value="shidhincr@gmail.com">
<input type="hidden" name="lc" value="AE">
<input type="hidden" name="item_name" value="undefinednull.com">
<input type="hidden" name="no_note" value="0">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>