
<div class="footer">
  <div class="rainbow-border-box"></div>
  <div class="footer__content">
    <div class="footer__image">
      <img src="/img/shidhin_dp_small.png" alt="Shidhin CR">
    </div>
    <div class="footer__desc">
      Shidhin is a Front-end engineer and <a href="https://developers.google.com/community/experts/directory/profile/profile-shidhin_cr">Google Developer Expert</a> in Web Tech. Follow him on <a class="twitter-link" href="https://twitter.com/intent/follow?original_referer=undefinednull.com&ref_src=twsrc%5Etfw&screen_name=shidhincr&tw_p=followbutton">Twitter</a>
      <div class="footer_desc-social-links">
      <a href="//linkedin.com/in/shidhincr">LinkedIn</a> 
      <a href="//github.com/shidhincr">Github</a> 
      <a href="//facebook.com/shidhincr">Facebook</a> 
      <a href="mailto: shidhincr@gmail.com">Email</a> 
      </div>
    </div>
  </div>
</div>