{% for year in postslistYears %}
  <div class="postlist-year">
    <h3>{{ year }}</h3>
    <ol reversed class="postlist">
      {% for post in postslist[year] | reverse %}
        {% if post.data.published %}
          <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
            <a href="{{ post.url | url }}" class="postlist-link">
              {% if post.data.title %}{{ post.data.title }}
              {% else %}
                <code>{{ post.url }}</code>
              {% endif %}
            </a>
            <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
            <div>
              {% for tag in post.data.tags %}
                {%- if tag != "posts" -%}
                  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                  <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
                {%- endif -%}
              {% endfor %}
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ol>
  </div>
{% endfor %}