<div class="about">
	<span class="about-image">
		<img src="/images/shidhincr.jpg" alt="shidhincr">
	</span>
	<span class="about-desc">
		<span>Hey, I'm Shidhin C R – UI / Front end developer from Bangalore, India. I use this space to share my experiences, experiments and thoughts. See more about me in <a href="http://www.shidhincr.in" target="_blank">shidhincr.in</a></span>
		<br/>
		<hr/>
		<a href="https://twitter.com/shidhincr" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @shidhincr</a>
	</span>
</div> 