---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1 class="post-card__title">{{ title }}</h1>

<div class=" post-card__meta">
  <div class="post-card__meta-date">
    {{ date | readableDate }}
  </div>
  <div class="post-card__meta-readtime">
    About {{ content | readingTime }} read
  </div>
</div>
<div class="rainbow-border-box"></div>
{% for cat in categories %}
  <span class="post-card__category">
    {{ cat }}
  </span>
{% endfor %}

{{ content | safe }}

<div class="load-comments" data-load-disqus>Comments</div>

<p><a href="{{ '/' | url }}">← Home</a></p>


{% include 'footer.njk' %}

<div id="disqus_thread"></div>