// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
	background-color: rgba(241,241,241,0.6);
  background-image: image-url('background-image.jpg');
  font-weight: 300;
}
body {
	background: transparent;
	@include shadow-box(none,0 0 10px #ccc);
}
body > header {
	background: #333 url('../images/bg.png') 0 0;
	h1 {
		width: 100%;
    span.note {
      font-size: 0.7em;
      color: #130404;
      text-shadow: 0px 1px 0px #666464;
    }
	}
}
body > footer {
	@include shadow-box(none,0 2px 5px #777,0.3);
  margin-bottom: 10px;
}
a,a:visited {
    text-decoration: none;
    color: #1863A1
}

a:hover,article header h1 a:hover {
    color: #0181EB;
    text-decoration: none
}
#content{
  background: #fff;
  .entry-title {
    font-family: sans-serif, serif;
  }
  .entry-content {
    // font-family: Georgia, HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Times, 'Times New Roman',Arial, 'Lucida Grande', sans-serif;
    // last changes below
    // font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Times, 'Times New Roman', Arial, 'Lucida Grande', sans-serif;
    // font-size: 1.05em;
    // line-height: 1.8em;
    font-family:sans-serif, serif;
    font-size: $customFontContentSize;
    line-height: $customFontLineHeight;
    font-weight: 300;
    text-rendering: optimizelegibility;

    a,a:visited {
        border-bottom: 1px dashed;
        color: inherit;
        transition: border .1s ease-in-out;
    }
    a:hover {
      transition: border .1s ease-in-out;
      border-bottom: 3px solid;
    }
  }
  .blog-index a[rel=full-article] {
    border:1px dashed;
  }
  p code, li code {
    background-color: #fff;
    color: #E91E63;
    border-radius: 2px;
    box-shadow: 0px 1px 3px #B1B1B1;
    border: none;
    padding: 2px 10px;
    font-weight: bold;
    font-family: inherit;
  }
  div.info {
	background-color: rgb(252, 252, 232);
	border: 1px solid rgb(233, 235, 27);
	padding: 0.4em;
  }
  pre {
    background-color: #1C2020;
    box-shadow: 2px 2px 15px #666;
  }
  article blockquote {
    padding-left: 1.5em;
    border-left-width: 10px;
    background-color: rgba(128,128,128,0.05);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px 20px;
    font-size: 0.9em;
    color: #666;
  }
  .gist .gist-file {
    box-shadow: 2px 2px 15px #666;
    .gist-meta {
      background: none;
      border: none !important;
    }
  }
}
.fonts-loaded {
  #content {
    .entry-title {
      font-family: $customFontFamily, sans-serif, PT Serif, 'Droid serif',serif;
    }
    .entry-content {
      font-family: $customFontFamily, sans-serif, PT Serif, 'Droid serif',serif;
    }
  }
}
.about {
	font-style: italic;
	background-color: #FFF;
	padding: 10px;
	box-shadow: 0 0 5px #ccc;
  background-color: #F9F9F9;
	overflow: hidden;
  margin-top: 30px;
	clear: both;
	.about-image {
		width: 150px;
		float: left;
		display: inline-block;
		margin-right: 20px;
        img {
            border-radius: 50%;
        }
	}
	.about-desc > hr {
		border: none;
        border-top: 1px solid #fff;
        padding-top: 10px;
        box-shadow: 0 -1px 0 #CBCED1;
	}
	#twitter-widget-1 {
		float: right
	}
	&.sidebar {
		border: none;
		background-color: transparent;
		box-shadow: none;
		text-align: center;
		.about-image,#twitter-widget-1 {
			float: none;
		}
		.about-desc {
			display: block;
			a {
				color: rgb(47, 99, 211);
			}
		}
		.about-image {
			img {
				border-radius: 50%;
				box-shadow: 0px 0px 0px 10px rgba(221, 214, 214, 0.2);
				border: 10px solid rgba(151, 151, 151, 0.2);
			}
		}
		@media only screen and (max-width: 768px) {
   			display: none;
   		}
	}
}
.blog-index + aside.sidebar {
	.about.sidebar {
		@media only screen and (max-width: 768px) {
   			display: block;
   		}
	}
}

li.related {
  padding-bottom: 10px;
  list-style: initial;
  a {
    color: #DB4437s;
    font-size: 22px;
  }
  a:hover {
    border-bottom: 2px solid #94B7FF;
  }
}

/***** Fixing Gist default styling issues ***/

.gist{font-size:13px;line-height:18px;margin-bottom:20px;width:100%}
.gist pre{font-family:Menlo,Monaco,'Bitstream Vera Sans Mono','Courier New',monospace !important}
.gist-meta{font-family:Helvetica,Arial,sans-serif;font-size:13px !important}
.gist-meta a{color:#26a !important;text-decoration:none}
.gist-meta a:hover{color:#0e4071 !important}

/***** End: Fixing Gist default styling issues ***/

/* Some syntax highlighter CSS fixes */
pre[class*="language-"]{
	border-radius: 0;
	margin: 0;
	font-size: 14px;
}
