// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
	background-color: rgba(0,0,0,0.6);
}
body {
	background: transparent;
	@include shadow-box(none,0 0 15px #333);
}
body > header {
	background: url('../images/bg.png') 0 0;
	h1 {
		width: 100%;
	}
}
body > footer {
	@include shadow-box(none,0 15px 15px #333,0.3);
}
.about {
	font-style: italic;
	background-color: #FFF;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #CCC;
	box-shadow: 0 0 5px #CCC;
	overflow: hidden;
	clear: both;
	.about-image {
		width: 150px;
		float: left;
		display: inline-block;
		margin-right: 20px;	
	}
	.about-desc > hr {
		border: none;
		border-top: 1px dotted #CCC;
		padding-top: 10px;
	}
	#twitter-widget-1 {
		float: right
	}
	&.sidebar {
		border: none;
		background-color: transparent;
		box-shadow: none;
		text-align: center;
		.about-image,#twitter-widget-1 {
			float: none;
		}
		.about-desc {
			display: block;
			a {
				color: rgb(47, 99, 211);
			}
		}
		.about-image {
			img {
				border-radius: 50%;
				box-shadow: 0 0 15px #ccc;
			}
		}
		@media only screen and (max-width: 768px) {
   			display: none;
   		}
	}
}
.blog-index + aside.sidebar {
	.about.sidebar {
		@media only screen and (max-width: 768px) {
   			display: block;
   		}
	}
}

/***** Fixing Gist default styling issues ***/

.gist{font-size:13px;line-height:18px;margin-bottom:20px;width:100%}
.gist pre{font-family:Menlo,Monaco,'Bitstream Vera Sans Mono','Courier New',monospace !important}
.gist-meta{font-family:Helvetica,Arial,sans-serif;font-size:13px !important}
.gist-meta a{color:#26a !important;text-decoration:none}
.gist-meta a:hover{color:#0e4071 !important}

/***** End: Fixing Gist default styling issues ***/

